.table__product{
    width: 100%;
     background-color:rgb(0, 17, 73);
        /* border-radius: 20px;  */
}
.table__product__header{
  color: white;
   
}
.table__product__header tr th{
    text-transform: uppercase;
  
    padding: 10px 20px;
    font-size: 1.3rem;
}
.table__product__body{
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
}
.table__product__body tr td{
    font-size: 1.2rem;
    text-align: center;
}
.table__product__body tr:last-child td:last-child{
    border-bottom-right-radius:20px;
}

.table__product__body tr:last-child td:first-child{
    border-bottom-left-radius:20px;
}
.table__product__body tr td img{
    width: 90px;
    height: 90px;
}
.list__iten__btn__box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
}
.list__iten__btn__box button {
    display: flex;
    align-items: center;
    gap: 5px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.list__iten__btn__box button:first-child{
    color: rgb(0, 163, 0);
}
.list__iten__btn__box button:last-child{
    color: rgb(238, 0, 0);
}
.list__iten__btn__box button svg {
    font-size: 2rem;
}

/* !========================= Buscador ===================== */

.search__products {
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    background-color:rgb(0, 17, 73);
}

.search__products__content {
    background-color: white;
    padding: 5px 10px;
    border-radius: 30px;
    border: 1px solid gray;
    width: 300px;
}
.search__products__content input {
    border: none;
    outline: none;
    width: 100%;
    font-size: 1.7rem;
}