.alert__container {
    position: absolute;
    top: 10%;
    transform: translateY(-10%);
    display: flex;
    align-items: center;
    justify-content: center;
   
    color: white;
    border-radius: 5px;
    padding: 5px 10px;
    gap: 10px;
    z-index: 4;
}

.alert__container svg {
    font-size: 3rem;
}

.red {
    background-color: red;
    box-shadow: inset 2px 2px 3px #ff0000, inset -2px -2px 3px #9e0000;
}

.green {
    background-color: green;
    box-shadow: inset 2px 2px 3px rgb(0, 184, 0), inset -2px -2px 3px rgb(0, 85, 0);
}