footer{
    /* margin-top: 50px; */
    display: flex;
    justify-content: space-between;
    padding:40px 60px;
    background-color: gainsboro;
}
footer h4 {
    font-size: 1.6rem;
}

.contact__container {
    display: flex;
    flex-direction: column; 
    gap: 10px;
}

.footer__more_link{
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.contact__box {
font-size: 1.3rem;
}
.contact__social{
    display: flex;
    gap: 10px;
    font-size: 2rem;
}
.contact__logo {
    display: flex;
    align-items: center;
}
.logo_footer_image-1{
    margin-top: -30px;
    width: 117px;
    height: 121px;
   
}
.logo_footer_image-2{
    width: 150px;
    height: 35px;
    margin-top: -30px;
}

@media (max-width:900px){
    .logo_footer_image-2{
        display: none;
    }
    footer{
        flex-direction: column;
    }
    footer h4{
        text-align: center;
    }
    .footer__more_link {
        display: flex;
        gap: 10px;
        justify-content: space-between;
    }
    .contact__social{
        justify-content: center;
        
    }
    .contact__logo {
        justify-content: center;
    }
}