.slider__contenedor{
  margin-top: 90px;
}
.mySwiper {
  background-color: rgb(94, 94, 94);
  color: black;
}
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-button-prev, .swiper-button-next {
  color: rgb(172, 172, 172);
}
.swiper-pagination-bullet {
  background-color: rgb(255, 255, 255);
  padding: 10px;
}