*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: black;
}
.navbar__contenedor.menu-scroll {
    top: 0;
    position: fixed;
    transition: all .3s ease;
  }
.navbar__contenedor{
    position: fixed;
    width: 100%;
    top:0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color:#E3E6F3 ;
    font-size: 1.6rem;
    transition: all .3s ease;
    gap: 10px;
    z-index: 3;
}


.navbar__contenedor--logo a{
    display: flex;
}
.navbar__contenedor--logo .logo_image-1 { 
    width: 105px;
    margin: -26px 0;
    height: 101px;
}
.navbar__contenedor--logo .logo_image-2 { 
    width: 115px;
    height: 50px;
}
.navbar__contenedor--buscador {
    position: relative;
    display: flex;
    background-color: rgb(255, 255, 255);
    border: solid 1px rgb(173, 173, 173);
    padding:5px 15px;
    padding-right: 37px;
    border-radius: 30px;
    width: 400px;
}
.navbar__contenedor--buscador--input{
    width: 100%;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
}
.navbar__contenedor--buscador--btn{
    position: absolute;
    border: none;
    outline: none;
    top: 50%;
    right: 0;
    height: 37px;
    width: 37px;
    color: white;
    border-radius: 100%;
    background: #666363;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-50%);
    cursor: pointer;
}
.navbar__contenedor--links ul{
    display: flex;
    align-items: center;
    
    width: 100%;
}
.navbar__contenedor--links ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    font-weight: 600;
}
.link__icon {
    display: flex;
    place-content: center;
    font-size: 3.5rem;
    cursor: pointer;
}
.user_btn{
    border: none;
    background-color: transparent;
}



.navbar__contenedor--links ul li a{
    display: inline;
    position: relative;
    margin: 0 10px; 
    font-weight: 500;
}
.navbar__contenedor--links ul li a:hover{
    color: #2e2e2e;
}
   

.navbar__contenedor--links ul li a::before {
    content: "";
    position: absolute;
    width: 0%; 
    height: 2px; 
    background-color: #b8b8b8;
    bottom: 0;
    left: 0;
    transform: scale(0);
    transform-origin: bottom;
    transition: all .3s ease;
}

.navbar__contenedor--links ul li a:hover::before {
    transform: scale(1); 
    width: 100%;
}
.navbar__contenedor--cart {
    position: relative;
}
.cart__contenedor {
    text-align: center;
    overflow-x: hidden;
    overflow-y:hidden;
    position: absolute;
    right: 63%;
    top: 76%;
    width: 0;
    height: 0;
    color: black;
    border-radius: 12px;
    border: 1px solid rgb(194, 194, 194);
    backdrop-filter: blur(20px);
    opacity: 0;
    visibility: hidden;
    transition: width 0.5s, height 0.5s, opacity 0.5s, visibility 0.5s;
    z-index: 3;
}

.link__icon ~ input:checked ~ .cart__contenedor{
    width: 350px;
    height: 400px;
    opacity: 1;
    visibility: visible;
    transition: width 0.5s, height 0.5s, opacity 0.5s, visibility 0.5s;
}

/* ! ==================== Cart ================ */
.cart__contenedor--btn{
    display: flex;
    gap: 20px;
    justify-content: center;
}

.cart__contenedor--btn button {
    margin: 10px 10px;
    background-color: rgb(0, 150, 0);
    border-radius: 6px;
    border: none;
    border-left:2px solid #1e9600;
    border-right:2px solid #1e9600;
    width: 70px;
    padding: 5px 7px;
    color: white;
    cursor: pointer;
    transition: all .3s ease;
}
.btn__removeCart:hover{
    background-color: #ffffff;
    color: rgb(255, 0, 0);
}
.btn__pay:hover{
    background-color: #ffffff;
    color: #1e9600;
}
.cart__contenedor--btn .btn__removeCart{
    font-size: 2rem;
}

.cart__contenedor--btn .btn__pay{
    font-size: 1.5rem;
    font-weight: 600;
}
.cart__quantity {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15px;
    right: 11px;
    top: -7px;
    border-radius: 50%;
    font-size: 0.9rem;
    color: rgb(255, 0, 0);
    text-overflow: ellipsis;
}
.cart__no-products {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    font-size: 5rem;
    color: #1e9600;
}
.cart__no-products h2 {
    font-size: 2.5rem;
}
.cart__box{
    overflow: scroll;
    height: 100%;
    
}

.cart__box::-webkit-scrollbar {
  width: 5px;
}
.cart__box::-webkit-scrollbar-thumb {
  background-color: #979797;
  border-radius: 4px;
} 



.cart__products{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.4rem;
    background-color: rgb(235, 235, 235);
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
    text-transform:capitalize;
}

.cart__products img {
    width: 70px;
    height: 70px;
    border-radius: 3px;
    padding: 2px;
}

.cart__info {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 60%;
}

.cart__products small{
    padding: 1px 10px;
    border: 2px solid rgb(38, 121, 0);
    border-radius: 30px;
    color:  rgb(38, 121, 0);
    font-size: 1.5rem;
    font-weight: 700;
}
.cart__products button {
    display: flex;
    place-content: center;
    border: 1px solid rgba(255, 0, 0, 0.699);
    border-radius: 30px;
    font-size: 23px;
    color: rgba(255, 0, 0, 0.623);
    cursor: pointer;
}
.cart__products:last-child {
    margin-bottom: 45px;
  }

  .link__navbar {
    font-size: 3rem;
    display: flex;
    place-content: center;
    cursor: pointer;
    display: none;
  }

  .link__navbar ~ input:checked ~ ul {
    visibility: visible;
        opacity: 1;
        transition:  opacity 0.5s, visibility 0.5s;
} 


  @media (max-width: 1200px){
    .logo_image-2{
        display: none;
    }
    .cart__quantity{
        right: 4px;
        top: -10px;
    }
    .navbar__contenedor--links ul li {
        padding: 0px 10px;
    }
    
  }
  @media (max-width: 900px){
    .navbar__contenedor--links ul{
        justify-content: center;
        visibility: hidden;
        opacity: 0;
        padding: 4px 0;
        position: absolute;
        z-index: 3;
        background-color: rgb(131, 131, 131);
        color: #ffffff;
        left: 0;
        right: 0;
        bottom: -40px;
        transition: opacity 0.5s ease-in, visibility 0.5s ease-in;
    }
    .navbar__contenedor--links a{
        color: #ffffff;
    }
    .cart__quantity {
        right: -2px;
        top: -2px;
        color: #ffffff;
    }
    .link__navbar{
        display: flex;
    }
  }
  @media (max-width: 520px){
    .navbar__contenedor--links ul {
        font-size: 80%;
    }
    .cart__contenedor{
        right: 26%;
        top: 100%;
    }
  }

  